.place__title-part {
  max-width: 984px;
  padding-bottom: 48px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 426px) {
  .place__title-part {
    padding-bottom: 32px;
  }
}
