.cover__overlay {
  max-width: 100%;
  min-height: 740px;
  background: rgba(42, 44, 46, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__overlay:hover {
  background:  rgba(42, 44, 46, .8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 426px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 265px;
  }
}
