.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 609px) {
  .footer {
    max-width: 248px;
    margin: 0;
    padding: 64px calc(100% - 264px) 24px 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}
