.place__website {
  max-width: 456px;
  min-height: 46px;
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .place__website {
  margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
  margin-left: 28px;
  }
}

@media screen and (max-width: 635px) {
  .place__website {
    display: none;
  }
}
